<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
     <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="Chess.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
     </sectionGroup>
 </configSections>
 <connectionStrings />
 <startup>
		<supportedRuntime version="v5.0" sku=".NETFramework,Version=v5.0.401" />
	</startup>
<userSettings>
  <Chess.Settings>
    <setting name="mainBKImage" serializeAs="String">
      <value>山水之间.jpeg</value>
    </setting>
    <setting name="stepArrow" serializeAs="String">
      <value>True</value>
    </setting>
    <setting name="ArrowsMaxNum" serializeAs="String">
      <value>5</value>
    </setting>
    <setting name="MoveDelayTime" serializeAs="String">
      <value>500</value>
    </setting>
    <setting name="ArrowVisable" serializeAs="String">
      <value>True</value>
    </setting>
    <setting name="EnableSound" serializeAs="String">
      <value>True</value>
    </setting>
    <setting name="EnablePathPoint" serializeAs="String">
      <value>True</value>
    </setting>
    <setting name="ThemsIndex" serializeAs="String">
      <value>2</value>
    </setting>
    <setting name="ArrowsMemo" serializeAs="String">
      <value>True</value>
    </setting>
    <setting name="CurrentSide" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="CanJuIndex" serializeAs="String">
      <value>0</value>
    </setting>
  </Chess.Settings>
 </userSettings>
</configuration>